
.input1{
    border: none;
    color: rgb(85, 85, 85);
    width: 100%;
}
.checkbox {
    margin-right: 5px;
}
.mt-3 {
    margin-top: 1rem!important;
    width: 50%;
    margin-left: 10px;
}
.fondo{
    background: pink;
    margin-top: 25px;
    padding: 25px;
    border-radius: 10px;
    width: 400px;
}
h1 {
    padding-bottom: 15px;
    font-size: 24px;
    color: rgb(85, 85, 85);
}
.fa-solid, .fas {
    position: absolute;
    padding: 4px;
    right: 1px;
    margin-right: 5px;
}
.list-group-item{
    color: rgb(85, 85, 85);
    
}
.items {
    padding: 10px;
    font-size: 14px;
    color: rgb(85, 85, 85);
}
